{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 class="mb-5">Toutes les catégories de la table category : </h1>
    {% for category in categories %}
        <div class="mb-5">
            <h2>{{ loop.index }} / {{ category.name }}</h2>
             <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir les programmes de cette catégorie</a>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}