// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('navbar.scss');

:root {
    --primary-color: #3064FF;
    --titre-color: #007BFF;
    --light-color: #ffffff;
    --dark-color: #000000;

    --title-font: 'Simonetta', cursive;
    --text-font: 'Open Sans', sans-serif;
}

body {
    background-color: lightgray;
    color :black;
}
