<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome on Wild Series!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}">
	</head>
	<body>
		{% block navbar %}
			<header>
				{% include "Components/_navbar.html.twig" %}
			</header>
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
